

<section class="py-2 container "> 
    <div class="text-end">
        <%=link_to "New Article", new_article_path()%>
        <hr>
    </div>
    <div class="row gy-2"> 
        <%@articles.each do |article|%>
            <div class="col-sm-4">
                <div class="card shadow border-0 rounded-0">
                    <div class="card-header">
                        <div class="card-title">
                            <h2>
                                <%=article.title%>
                            </h2>
                            <!--
                            <a href="<%=article_path(article) %>">
                            <%= article.title %>
                            </a>
                            -->
                            <%=link_to article.title , article , :class=>"text-danger" %>
                        </div>  
                    </div>
                    <div class="card-body">
                        <p>
                            <%= truncate(article.body , :length=>50)%>
                        </p>
                    </div>
                    <div class="card-footer"> 
                        <a href="/articles/<%=article.id%>" class="text-success">Read More</a> / 
                        <%= link_to "Edit", edit_article_path(article),:class=>"text-primary" %>
                    </div>
                </div>
            </div>
        <%end%>
    </div>
</section>